* {
    box-sizing: border-box;
  }
  
input {
    width: 500px;
    padding: 10px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
  .photo-card {
  width: 400px;
}
  .item {
    display: block;
    margin: 10px;
    border: 2px solid rgb(182, 181, 181);
  }
  .stats {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    font-size: 15px;
  }
  .wrapper {
  width: 400px;
  height: 250px;
  overflow: hidden;
}
  
  .stats-item {
    display: inline;
    flex-direction: column;
  }